{% extends 'layout.html' %}

{% block title %}
Resources
{% endblock %}

{% block content %}
<style>
  div.row a {
    color: cyan;
  }

  div.row a:visited {
    color: cyan;
  }
</style>
<div class="container">
  <div class="row text-white my-4">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>As a tenant, the law is designed to protect your right to have somewhere to live on terms that are fair.
        Unfortunately, in a very competitive rental market, landlords try to skirt (or in some cases cross) the boundaries of what is legal.
        Here are some resources to help you know what is fair and to protect your rights.</p>
    </div>
  </div>

  <div class="row text-white my-4">
    <h2 class="mx-auto">The Rent Index (Mietspiegel)</h2>
  </div>
  <div class="row text-white my-2">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>Many cities collect information about the average rent for different kinds of buildings in different parts of the city.
      They provide an online service where you can fill in the details of the property you are about to rent, and get an estimate of what rent you should expect to pay.
      Check your local city council website for rent index information.</p>
    </div>
  </div>

  <div class="row text-white my-4">
    <h2 class="mx-auto">Excessive Rent (Rent Gouging)</h2>
  </div>
  <div class="row text-white my-2">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>Landlords will often try to significantly raise rents when finding a new tenant for their flat. There are limits on how much they can raise the prices, and
      when the landlords go over those limits, they may be breaking the law. Know your local regulations and compare offered rents against the local rent index.</p>
    </div>
  </div>

  <div class="row text-white my-4">
    <h2 class="mx-auto">Unfair Contracts</h2>
  </div>
  <div class="row text-white my-2">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>Even if the price is fair, the contract you are offered might not be. Ask for a contract draft as early as possible.
      If you see terms in the contract that don't look familiar, there is a good chance they are not fair terms. The standard contract protects your rights, and protects the rights of the landlord to the extent permitted by the law.</p>
    </div>
  </div>

  <div class="row text-white my-4">
    <h2 class="mx-auto">Short-term Rental Laws</h2>
  </div>
  <div class="row text-white my-2">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>In many cities, landlords need special permission to rent their flat short-term (e.g. holiday rentals), or to leave their flat empty of tenants. Landlords who have a series of short-term tenants, at unusually high prices with non-standard agreements, may be misusing their property. Check your local city regulations for more information.</p>
    </div>
  </div>

  <div class="row text-white my-4">
    <h2 class="mx-auto">Tenants' Associations</h2>
  </div>
  <div class="row text-white my-2">
    <div class="intro col-sm-9 mx-auto text-left">
      <p>When you have finally signed your contract, paid your deposit, and got your keys, your journey may not be over. There might be something wrong with the flat, or the landlord might want to evict you. Tenants' associations are non-profit organisations that offer qualified legal advice and support for tenants. Whether or not you end up needing this support, it makes sense to support one of these organisations in your city.</p>
    </div>
  </div>

</div>
{% endblock %}
